{% extends 'ApplicationAdminBundle::layout.html.twig' %}

{% block title 'user.admin.users.delete.title'|trans %}
{% block page_title 'user.admin.users.delete.title'|trans %}

{% block admin_content %}
    {% embed 'ApplicationSiteBundle::_deleteConfirm.html.twig' %}

        {% block warning %}
            {{ 'user.admin.users.delete.warning'|trans }}
        {% endblock %}

        {% block back %}
            <a href="{{ path('application_user_admin_users') }}">
                {{ 'user.admin.users.create.back'|trans }}
            </a>
        {% endblock %}

    {% endembed %}
{% endblock %}
