{% extends "ApplicationUserBundle::layout.html.twig" %}

{% block title 'user.resetting.title'|trans %}
{% block page_title 'user.resetting.page_title'|trans %}

{% block user_content %}
    <p class="text-center">
        {{ 'user.resetting.check_email'|trans({'%email%': email})|nl2br }}
    </p>
{% endblock %}
